<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoVeterinaria"
        tools:targetApi="31">
        <activity
            android:name=".ListaMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaMedicinaActivity"
            android:exported="false" />
        <activity
            android:name=".ListaMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".ListaClientesActivity"
            android:exported="false" />
        <activity
            android:name=".NuevoMedico2"
            android:exported="false" />
        <activity
            android:name=".EliminarMedico"
            android:exported="false" />
        <activity
            android:name=".EditarMedico"
            android:exported="false" />
        <activity
            android:name=".NuevoMedico"
            android:exported="false" />
        <activity
            android:name=".EliminarMedicina"
            android:exported="false" />
        <activity
            android:name=".EditarMedicina"
            android:exported="false" />
        <activity
            android:name=".NuevaMedicina"
            android:exported="false" />
        <activity
            android:name=".TicketMascota"
            android:exported="false" />
        <activity
            android:name=".EliminarMascota"
            android:exported="false" />
        <activity
            android:name=".EditarMascota"
            android:exported="false" />
        <activity
            android:name=".NuevaMascota"
            android:exported="false" />
        <activity
            android:name=".EliminarCliente"
            android:exported="false" />
        <activity
            android:name=".EditarCliente"
            android:exported="false" />
        <activity
            android:name=".activity_nuevo_cliente"
            android:exported="false" />
        <activity
            android:name=".ContenedorActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>